body {
	font-family: 'Source Sans Pro', sans-serif !important;
}

h1 {
	text-transform: uppercase;
	margin-bottom: 25px;
}

section {
	margin: 72px 63px;
}

.through-out-container-default > .container > section.text-content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.through-out-container-topic > .container > section.text-content {
	margin-top: 20px;
	margin-bottom: 20px;
}

section.text-content {
	margin-left: 210px;
	margin-right: 210px;
}

@media (max-width: 991px) {
    section.text-content {
    	margin-left: 50px;
		margin-right: 50px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 90vw;
	}
    section.text-content {
    	margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 575px) {
}

.through-out-container-default {
	background-color: black;
	color: white;
	padding:  30px 0;
}

.through-out-container-topic {
	background-color: orchid;
	color: black;
	padding:  30px 0;
}

.text-emphasize {
	font-size: 22px;
	font-weight: 600;
}

h1 {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 2.5rem;
}

h2 {
	text-transform: uppercase;
	color: #656565;
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 1rem;
}

h3 {
	color: #656565;
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 1rem;
}

h4 {
	color: black;
	font-size:21px;
}

ul, ol {
	padding-left: 18px;
}

ul > li, ol > li {
	line-height: 40px;
}

.big-number {
	font-size: 42px;
	margin: 1rem 0;
	font-weight: 700;
}
