body {
	font-family: 'Source Sans Pro', sans-serif !important;
}

h1 {
	text-transform: uppercase;
	margin-bottom: 25px;
}

section {
	margin: 72px 0px;
}

section.text-content {
	margin-left: 210px;
	margin-right: 210px;
}

@media (max-width: 991px) {
    section.text-content {
    	margin-left: 50px;
		margin-right: 50px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 90vw;
	}
    section.text-content {
    	margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 575px) {
}

.through-out-container {
	padding:  30px 0;
}

.through-out-container > .container > section.text-content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.through-out-container-default {
	background-color: black;
	color: white;
}

.through-out-container-secondary {
	background-color: #F7F7FA;
	color: black;
}

.through-out-container-topic {
	background-color: #EFF0FF;
	color: black;
}

.through-out-container-green {
	background-color: #E5EDEE;
	color: black;
}

.text-emphasize {
	font-size: 22px;
	font-weight: 600;
}

.text-light-emphasize {
	font-size: 22px;
	font-weight: 500;
}

h1 {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 2.5rem;
}

h2 {
	text-transform: uppercase;
	color: #656565;
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 1rem;
}

h3 {
	color: #656565;
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 1rem;
}

h4 {
	color: black;
	font-size:21px;
}

ul, ol {
	padding-left: 18px;
}

ul > li, ol > li {
	line-height: 40px;
}

.big-number {
	font-size: 42px;
	margin: 1rem 0;
	font-weight: 700;
}

.md-number {
	font-size: 30px;
	margin: 0.5rem 0;
	font-weight: 600;
}

.sm-number {
	font-size: 20px;
	margin: 0.3rem 0;
	font-weight: 500;
}

.tts-project-desc > div {
	margin: 0 20px;
}

.quote-with-figure {
    display: flex;
    align-items: center;
    padding: 26px 16px;
    box-shadow: 3px 3px 10px 3px rgb(0 0 0 / 10%);
}

.quote-with-figure > * {
	margin: unset;
}

.quote-with-figure > img {
	border-radius: 50%;
	margin-right: 20px;
}

.project-footer {
	/* margin: 30px auto; */
	height: 30px;
}
